<div class="left-panel">
    <div class="superheader__container"> 
      <h1 class="superheader__intro">
        <%# <span class="superheader__intro-hi accent_amethyst">HOMAN</span></br> %>
        <a href=<%= root_path %> class="superheader__intro-name">
          <span>HOMAN</span>
        </a>
      </h1>
      <div class="superheader__intro-fullstack">
        <span>FULL STACK WEB DEV</span>
      </div>
    </div>
    <div class="left-panel__explain-text <%= transparency_class %>">
        This is a personal tech blog of my lessons and experience 
        with Rails, VIM, Meteor, Ember yadayada 
        and all things technical and fun.
    </div>

    <div class="clear"></div>

    <div class="left-panel__contact-me <%= transparency_class %>">
      <a href="http://sg.linkedin.com/in/boahoman" class="left-panel__social-links">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-amethyst"></i>
          <i class="fa fa-linkedin fa-inverse fa-stack-1x"></i>
        </span>
      </a>
      <a href="http://github.com/aranair" class="left-panel__social-links">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x fa-amethyst"></i>
          <i class="fa fa-github fa-inverse fa-stack-1x"></i>
        </span>
      </a>
    </div>

    <div class="clear"></div>

    <%= react_component('Avatar', username: 'boa.homan') %>
</div>
