<div class="left-panel">
    <div class="superheader__container"> 
      <h1 class="superheader__intro">
        <span class="superheader__intro-hi accent_amethyst">HI THERE, I'M</span></br>
        <a href=<%= root_path %> class="accent_amethyst">
          <span class="accent_amethyst">HOMAN</span>
        </a>
      </h1>
      <div class="superheader__intro-fullstack">
        <span>A FULL STACK DEV</span>
      </div>
    </div>
    <div class="left-panel__explain-text <%= transparency_class %>">
        And this is a personal tech blog of my lessons and experience 
        with Rails, VIM, Meteor, Ember yadayada 
        and all things technical and fun.
    </div>
    <div class="tagcloud hidden-sm hidden-xs <%= transparency_class %>">
      <p class="tagcloud__header">TAG CLOUD</p>
      <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
        <%= link_to tag.name, 
          tag_path(tag.name), class: css_class %>
      <%end%>
    </div>
</div>
