<div id="right-panel" class="<%= transparency_class %> col-md-3 col-xs-0">
  <p class="right-panel__projects-header">OTHERS</p>
  <ul class="right-panel__projects-list">
    <li><a href="http://ucsc-nsl.herokuapp.com">UCSC Squash Feeds</a></li>
    <li><a href="https://github.com/aranair/turbolinks_animations">turbolink_animations</a></li>
    <li><a href="http://snippy.meteor.com">Snippy (on Meteor)</a></li>
    <li><a href="http://snippy-homan.herokuapp.com">Snippy (on Heroku)</a></li>
    <li><a href="http://ajensha.biz">Ajensha Consulting</a></li>
  </ul>
  <%# <div class="right-panel__circular-portrait"> %>
  <%# </div> %>
</div>
