<div id="left_container" class="col-md-3">
    <div id ="superheader_container"> 
        <h1 id="superheader"><a href=<%= root_path %> class="accent_orange"><span class="accent_orange">HOMAN</span></a><br> 
        <span class="fontlight fontsmall">VIM / RAILS</span></h1>
    </div>
    <div id="left_expl_container">
        <div id="left_explanatory">
            A personal log of my lessons and experience with VIM, Rails, and all things technical and fun.
            </div>
    </div>
    <div class="clear"></div>
    <div id="left_tagcloud_container" class="hidden-xs">
        <div id="left_tagcloud">
          <h4> Tag Cloud: </h4>
          <div id="tag_cloud">
              <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
              <%= link_to tag.name, tag_path(tag.name), class: css_class, :style => 'color:#999999' %>
              <%end%>
          </div> 
          <br />
          <h4>Todos: <br><span class="muted">search, date filter, <br> comments, statistics .. </span></h4>
        </div>
    </div>
    <div class="clear"></div>
</div>
