// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.s_article_container {
  width: 100%;

  .article-content {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;

    .article-title {
      font-family: 'Open Sans', Arial, Helvetica, serif !important;
      font-weight: 300;
      margin-top: 0px;
      color: #9137B6;
    }

    .article-content-header {
      margin-top: 10px;
      padding-bottom: 10px;
    }
  }
  .article-actions {
    a { color: #999; }
    padding: 10px 20px 0px 30px;
  }
  .article-tags {
    padding-left: 30px;
    padding-bottom: 20px;
  }
}

.article-edit {
  padding-left: 30px;
  padding-bottom: 30px;
}

.article-content {
  blockquote {
    font-size: 16px;
  }
  code { white-space: normal; }
  h1 { font-size: 26px; }
  h2 { font-size: 23px; }
  h3 { font-size: 18px; }
  h4 { font-size: 13px; }
  h5 { font-size: 10px; }
  h6 { font-size: 9px; }
}
