.left-panel {
  background: white;
  background-color: #9b59b6;
  position: fixed;
  width: 25%;
  bottom:0px;
  top: 0px;
  padding: 80px 30px 0px 0px;
  border-right:1px solid #e7e7e7;
}

.left-panel__headers {
  margin-top: 30px;
  color: #9137B6;
  font-weight: 300;
  font-size: 18px;
}

.left-panel__contact-me {
  margin-top: 40px;
  float: right;
}

.left-panel__social-links {
  float: right;
}

.left-panel__explain-text {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  max-width: 230px;
  float: right;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: white;
  text-align: right;
  display: block;
}

.superheader__container {
  text-align:right;
  margin-bottom: 40px;
}

.superheader__intro-fullstack {
  font-family: 'Jura', Arial, Helvetica, serif !important;
  color: white;
  margin-right: 5px;
  margin-top: -10px;
  span {
    font-size: 21px;
    font-weight: 300;
  }
}

.superheader__intro {
  color: #8e44ad;
  font-family: 'Jura', Arial, Helvetica, serif !important;
  a:hover { text-decoration: none; }
}

.superheader__intro-name {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-weight: 600 !important;
  font-size: 65px;
  // text-shadow: 0 2px #fff;
  margin-bottom: 5px;
  // color: #8e44ad;
  color: white;
  &:hover {
    color: rgb(23, 246, 255);
  }
}

.superheader__intro-hi {
  font-size: 29px;
  // font-size: 36.5px;
  line-height: 35px;
  font-family: 'Lato', Arial, Helvetica, serif !important;
  font-weight: 300;
  // color: rgba(142, 68, 173, 0.7);
}

// Tag Cloud Start

.tagcloud {
  padding-top: 0px;
  text-align: left;
  max-width: 230px;
  line-height: 1.6em;
  font-weight: 300;

  .s { font-size: 0.7em; }
  .m { font-size: 1.2em; color: #666; }
  .l { font-size: 1.4em; color: #333; }

  a { color: #999; }
}

.tagcloud__header {
  margin-top: 30px;
  color: #9137B6;
  font-weight: 300;
  font-size: 18px;
}
