.right-panel {
  background: white;
  position: fixed;
  bottom: 0px;
  right: 0px;
  top: 0px;
  padding: 80px 0px 0px 30px;
  border-left: 1px solid #e7e7e7;
  width: 34%;
}

.right-panel__projects-list { 
  list-style: none; 
  margin-left: 0;
  padding-left: 0px;
  font-family: 'Open Sans', Arial, Helvetica, serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
}

.right-panel__headers {
  margin-top: 30px;
  color: #9137B6;
  font-weight: 300;
  font-size: 18px;
}

.right-panel__circular-portrait {
  width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  background: url(image_path('facebook-portrait.jpg')) no-repeat;
  background-size: 200px auto;
  box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .5);
  opacity: 0.7;
}

.right-panel__social-links {
}

.right-panel__large-controls {
  margin: 0;
  padding: 0;
  list-style: none;
}
.right-panel__large-controls li {
  a {
    font-weight: 300;
    letter-spacing: 1px;
  }
}

a:hover .fa-amethyst { 
  // color: #428bca;
  // color: #9b59b6;
}
// .fa-amethyst {
//   color: #9b59b6;
// }
