i.fa-stack-one-four {
  font-size: 1.5em;
  margin-top: 10px;
}

a:hover i.fa-amethyst { 
  // color: #428bca;
  // color: #9b59b6;
  color: rgba(255, 255, 255, 0.15);
}
i.fa-amethyst {
  // color: #9b59b6;
  color: rgba(255, 255, 255, 0.10);
}
